.filepicker .file-directory {
  max-height: calc(100vh - 260px);
}
.filepicker .file-directory .thumbnail {
  display: none;
}
.filepicker .file-directory .small-thumbs .thumbnail,
.filepicker .file-directory .large-thumbs .thumbnail {
  display: block;
  width: 50px;
  height: 50px;
}
.filepicker .file-directory .small-thumbs,
.filepicker .file-directory .large-thumbs {
  width: 50px;
  height: 50px;
  float: left;
  margin: 1px;
  padding: 0;
  border-bottom: none;
}
.filepicker .file-directory .large-thumbs,
.filepicker .file-directory .large-thumbs .thumbnail {
  width: 100px;
  height: 100px;
}
.filepicker .file-directory .small-thumbs .filename,
.filepicker .file-directory .large-thumbs .filename {
  display: none;
}
.filepicker .thumbnail-controls {
  line-height: 1em;
  flex: none;
  padding-left: 5px;
}
.filepicker .thumbnail-controls div {
  border-radius: 3px;
  border: 1px solid #666;
  background-color: #aaa;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
  margin-right: 2px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.filepicker .thumbnail-controls div:hover {
  background-color: #ddd;
}
